<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayros.historycleaner"
    android:installLocation="auto"
    android:versionCode="30"
    android:versionName="3.1.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@drawable/ic_launcher_broom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ayros.historycleaner.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ayros.historycleaner.ui.ShortcutCleanActivity"
            android:label="@string/title_activity_clean"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ayros.historycleaner.ui.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.ayros.historycleaner.ui.DataViewActivity"
            android:label="@string/title_activity_data_view" >
        </activity>
        <activity
            android:name="com.ayros.historycleaner.ui.ShortcutActivity"
            android:icon="@drawable/clean"
            android:label="History Cleaner" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ayros.historycleaner.ui.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.ayros.historycleaner.locale.ui.EditPluginActivity"
            android:exported="true"
            android:label="@string/app_plugin_name" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ayros.historycleaner.locale.receiver.FireReceiver"
            android:exported="true"
            android:process=":background" >

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>